<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are  by default assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="Kaos" class="com.polydeucesys.kaos.KaosAppender">
        <strategyName>test1</strategyName>
    </appender>

    <appender name="Kaos2" class="com.polydeucesys.kaos.KaosAppender">
        <strategyName>test2</strategyName>
    </appender>

    <logger name="UnitTest" level="info">
        <appender-ref ref="Kaos"></appender-ref>
    </logger>

    <logger name="UnitTest2" level="info">
        <appender-ref ref="Kaos2"></appender-ref>
    </logger>

    <root level="debug">
        <appender-ref ref="STDOUT" />
    </root>

</configuration>